<!DOCTYPE html>
<html
        xmlns:th="https://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
        layout:decorate="~{base}"
>
<main layout:fragment="main">
    <section class="hero">
        <div class="container text-center">
            <div class="hero-content">
                <h1 class="hero-text text-xxl">Καλώς ήρθατε στο MyCityGov</h1>
                <p class="text-xl my-4 font-semibold">
                    Η ολοκληρωμένη πλατφόρμα ψηφιακών υπηρεσιών του Δήμου.
                    Υποβάλετε αιτήματα και κλείστε ραντεβού εύκολα και γρήγορα.
                </p>
                <br /><br />
                <div class="hero-buttons">
                    <a
                            th:href="@{/tickets/new}"
                            class="btn btn-primary"
                            sec:authorize="isAuthenticated()"
                    >Νέο Αίτημα</a
                    >
                    <a
                            th:href="@{/appointments}"
                            class="btn btn-secondary"
                            sec:authorize="isAuthenticated()"
                    >Ραντεβού</a>
                    <a
                            th:href="@{/register}"
                            class="btn btn-dark"
                            sec:authorize="!isAuthenticated()"
                    >Εγγραφή</a
                    >
                    <a
                            th:href="@{/login}"
                            class="btn btn-primary"
                            sec:authorize="!isAuthenticated()"
                    >Σύνδεση</a
                    >
                </div>
            </div>
        </div>
    </section>
</main>
</html>
