<!DOCTYPE html>
<html
   xmlns:th="https://www.thymeleaf.org"
   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
   xmlns:sec="http://www.w3.org/1999/xhtml"
   layout:decorate="~{base}"
>
   <head>
      <title>Προφίλ</title>
   </head>

   <body>
      <main layout:fragment="main" class="content-main container-sm">
         <h1 class="text-xl text-center">Ο Λογαριασμός μου</h1>

         <p
            class="text-md text-center"
            style="color: #666"
            th:if="${me != null}"
         >
            Καλώς ήρθατε, <b th:text="${me.firstName()}"></b>.
         </p>

         <div
            class="mt-4"
            style="border: 1px solid #eee; padding: 20px; border-radius: 5px"
            th:if="${me != null}"
         >
            <h2 class="text-lg">Στοιχεία Χρήστη</h2>
            <ul style="padding-left: 20px">
               <li>
                  <i class="fas fa-user"></i> <strong>Ονοματεπώνυμο:</strong>
                  <span
                     th:text="${me.firstName()} + ' ' + ${me.lastName()}"
                  ></span>
               </li>
               <li>
                  <i class="fas fa-envelope"></i> <strong>Email:</strong>
                  <span th:text="${me.email()}"></span>
               </li>
               <li>
                  <i class="fas fa-users-cog"></i>
                  <span th:text="${me.type().name()}"></span>
               </li>
            </ul>
         </div>

         <div
            class="mt-4"
            style="border: 1px solid #eee; padding: 20px; border-radius: 5px"
            th:if="${me == null}"
         >
            <p>Δεν βρέθηκαν στοιχεία χρήστη. Παρακαλώ συνδεθείτε ξανά.</p>
            <a th:href="@{/login}" style="color: var(--primary-color)"
               >Μετάβαση στη σύνδεση</a
            >
         </div>

         <br />

         <div
            class="mt-4"
            style="border: 1px solid #eee; padding: 20px; border-radius: 5px"
         >
            <h2 class="text-lg">Ενέργειες</h2>
            <ul style="padding-left: 20px">
               <li>
                  <a th:href="@{/tickets}" style="color: var(--primary-color)">
                     <i class="fas fa-inbox"></i> Προβολή Αιτημάτων και Ραντεβού
                  </a>
               </li>

               <li sec:authorize="hasRole('ADMIN')">
                  <a th:href="@{/admin/requests}">
                     <i class="fas fa-chart-line"></i> Αναφορές Διαχειριστή
                  </a>
               </li>

               <li>
                  <a th:href="@{/logout}" style="color: var(--primary-color)">
                     <i class="fas fa-sign-out-alt"></i> Αποσύνδεση
                  </a>
               </li>
            </ul>
         </div>
      </main>
   </body>
</html>
