* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --primary-color: #d62828;
    --light-color: #f4f4f6;
    --dark-color: #111;
}

body{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    background: #fff;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: #333;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
}


/* NavBar */
.navbar {
    background: #fff;
    padding: 20px;
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .main-menu ul {
    display: flex;
    flex-shrink: 0;
}

.navbar ul li a{
    padding: 10px 20px;
    display: block;
    font-weight: 600;
    transition: 0.5s;
}

.navbar ul li a:hover {
    color: var(--primary-color);
}

.navbar ul li a i{
    margin-right: 10px;
}

.navbar ul li:last-child a {
    margin-left: 10px;
}

/* Hero */
.hero {
    margin-bottom: 50px;
    margin-left: 10px;
    margin-right: 10px;
}

.hero .container {
    background-size: 120%;
    background-position: center bottom;
    height: 700px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.hero .hero-content {
    width: 70%;
    margin-bottom: 20px;
    text-align: center;
}

.hero .hero-buttons {
    display: flex;
    justify-content: center;
    gap: 5px;
}

.hero .hero-buttons .btn {
    margin: 0 auto 10px auto;
    top: 0;
    bottom: 10px

}

.hero .hero-text {
    margin-bottom: 20px;
}

/* Footer */
.footer {
    padding: 40px 0;
}

.footer h4 {
    margin-bottom: 10px;
}

.footer ul li {
    line-height: 2.5;
}

.footer a {
    color: #ccc;
}

.social-icons {
    display: flex;
    gap: 10px;
}

.social-icons i {
    font-size: 20px;
    color: white;
    cursor: pointer;
}


.footer-grid {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    gap: 30px;
    justify-content: center;
    align-items: center;
}

.footer-grid a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer-grid a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer-grid a:hover {
    color: #d62828;
}

.footer .logo {
    height: 10em;
    width: auto;
}


/*Utility Classes */
.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 15px;
}

.container-sm {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 15px;
}

.logo{
    width: 120px;
    height: auto;
    max-width: none;
    flex-shrink: 0;

}

.main-menu{
    flex-shrink: 0;
}

/* Buttons */
.btn {
    display: inline-block;
    padding: 13px 20px;
    background: var(--light-color);
    color: #333;
    font-weight: 600;
    text-decoration: none;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
    transition: 0.5s;

}

.btn:hover {
    opacity: 0.8;
}

.btn-primary {
    background: var(--primary-color);
    color: #fff;
}

.btn-dark {
    background: var(--dark-color);
    color: #fff;
}

.btn-block {
    display: block;
    width: 100%;
}

/* Text Classes */
.text-xxl {
    font-size: 3rem;
    line-height: 1.2;
    font-weight: 600;
    margin: 40px 0 20px;
}

.text-xl {
    font-size: 2rem;
    line-height: 1.4;
    font-weight: normal;
    margin: 40px 0 20px;
}

.text-lg {
    font-size: 1.8rem;
    line-height: 1.4;
    font-weight: normal;
    margin: 30px 0 20px;
}

.text-md {
    font-size: 1.2rem;
    line-height: 1.4;
    font-weight: normal;
    margin: 20px 0 20px;
}

.text-sm {
    font-size: 0.9rem;
    line-height: 1.4;
    font-weight: normal;
    margin: 10px 0 5px;
}

.text-center{
    text-align: center;
}

/* BackGround */
.bg-primary {
    background: var(--primary-color);
    color: #fff;
}

.bg-light {
    background: var(--light-color);
    color: #333;
}

.bg-dark {
    background: var(--dark-color);
    color: #fff;
}

.bg-black {
    background: #000;
    color: #fff;
}

/* Mobile Menu */
.mobile-menu {
    position: fixed;
    top: 0;
    right: -300px;
    width: 250px;
    height: 100%;
    z-index: 100;
    background: #fff;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
    transition: right 0.3s ease-in-out;
}

.mobile-menu.active {
    right: 0;
}

.mobile-menu ul {
    margin-top: 100px;
    padding-right: 10px;
}

.mobile-menu ul li {
    margin: 10px 0;
}

.mobile-menu ul li a {
    font-size: 20px;
    transition: 0.3s;
}

/* Media Queries */
@media (max-width: 960px) {
    .text-xxl{
        font-size: 2.5rem;
    }
}

@media(max-width: 670px) {
    .navbar .main-menu {
        display: none;
    }

    .navbar .hamburger-button {
        display: block;
    }

    .hero .container {
        background-size: 350px 400px;
        background-position: bottom;
        height: 770px;
    }
    .hero .hero-content {
        width: 100%;
        text-align: center;
    }

    .hero .hero-text {
        width: 100%;
        text-align: center;
    }

    .hero .hero-buttons .btn {
        margin: 0 auto 10px auto;
        display: block;
        width: 30%;
    }

    .footer .card {
        margin-right: 0;
    }

    .footer .footer-grid > div {
        text-align: center;
    }

    .footer .social-icons {
        display: flex;
        justify-content: center;
        gap: 12px;
        margin-top: 10px;
    }

    .footer .social-icons i {
        font-size: 20px;
        color: white;
        cursor: pointer;
    }



    /* Text */
    .text-xl {
        font-size: 1.9rem;
    }

    .text-lg {
        font-size: 1.5rem;
    }

    .text-md {
        font-size: 1.1rem;
    }
}

@media (max-width: 500px) {
    .text-xxl {
        font-size: 2rem;

    }

}
